In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

np.random.seed(9)

In [2]:
#Creating a dataframe of the imported data from Kaggle.
dataframe = pd.read_csv('../data/commodity_trade_statistics_data.csv')
dataframe.head()

C:\Users\Jyotsna Khatter\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals

In [4]:
dataframe = dataframe.dropna()
dataframe.describe()

               year     trade_usd     weight_kg      quantity
count  7.876117e+06  7.876117e+06  7.876117e+06  7.876117e+06
mean   2.004599e+03  2.256751e+07  3.641745e+07  2.672027e+08
std    7.074780e+00  9.031957e+08  2.512519e+09  3.749842e+11
min    1.988000e+03  1.000000e+00  0.000000e+00  0.000000e+00
25%    1.999000e+03  1.138100e+04  1.139000e+03  1.082000e+03
50%    2.005000e+03  1.565570e+05  2.818900e+04  2.738100e+04
75%    2.011000e+03  1.906114e+06  4.669000e+05  4.648800e+05
max    2.016000e+03  5.241660e+11  1.860133e+12  1.026357e+15

In [5]:
df = dataframe[dataframe['country_or_area']=='India'].reset_index(drop=True)

In [7]:
df.category.unique()

array(['01_live_animals', '02_meat_and_edible_meat_offal',
       '04_dairy_products_eggs_honey_edible_animal_product_nes',
       '05_products_of_animal_origin_nes',
       '06_live_trees_plants_bulbs_roots_cut_flowers_etc',
       '09_coffee_tea_mate_and_spices', '10_cereals',
       '11_milling_products_malt_starches_inulin_wheat_glute',
       '12_oil_seed_oleagic_fruits_grain_seed_fruit_etc_ne',
       '13_lac_gums_resins_vegetable_saps_and_extracts_nes',
       '14_vegetable_plaiting_materials_vegetable_products_nes',
       '15_animal_vegetable_fats_and_oils_cleavage_products_et',
       '16_meat_fish_and_seafood_food_preparations_nes',
       '17_sugars_and_sugar_confectionery',
       '18_cocoa_and_cocoa_preparations',
       '19_cereal_flour_starch_milk_preparations_and_products',
       '21_miscellaneous_edible_preparations',
       '22_beverages_spirits_and_vinegar',
       '23_residues_wastes_of_food_industry_animal_fodder',
       '24_tobacco_and_manufactured_tobacco_substitutes',
       '26_ores_slag_and_ash',
       '27_mineral_fuels_oils_distillation_products_etc',
       '30_pharmaceutical_products', '31_fertilizers',
       '33_essential_oils_perfumes_cosmetics_toileteries',
       '34_soaps_lubricants_waxes_candles_modelling_pastes',
       '35_albuminoids_modified_starches_glues_enzymes',
       '36_explosives_pyrotechnics_matches_pyrophorics_etc',
       '37_photographic_or_cinematographic_goods',
       '41_raw_hides_and_skins_other_than_furskins_and_leather',
       '42_articles_of_leather_animal_gut_harness_travel_good',
       '43_furskins_and_artificial_fur_manufactures_thereof',
       '45_cork_and_articles_of_cork',
       '46_manufactures_of_plaiting_material_basketwork_etc',
       '47_pulp_of_wood_fibrous_cellulosic_material_waste_etc',
       '49_printed_books_newspapers_pictures_etc', '50_silk',
       '51_wool_animal_hair_horsehair_yarn_and_fabric_thereof',
       '53_vegetable_textile_fibres_nes_paper_yarn_woven_fabri',
       '56_wadding_felt_nonwovens_yarns_twine_cordage_etc',
       '57_carpets_and_other_textile_floor_coverings',
       '58_special_woven_or_tufted_fabric_lace_tapestry_etc',
       '59_impregnated_coated_or_laminated_textile_fabric',
       '60_knitted_or_crocheted_fabric',
       '64_footwear_gaiters_and_the_like_parts_thereof',
       '65_headgear_and_parts_thereof',
       '66_umbrellas_walking_sticks_seat_sticks_whips_etc',
       '67_bird_skin_feathers_artificial_flowers_human_hair',
       '69_ceramic_products',
       '71_pearls_precious_stones_metals_coins_etc',
       '75_nickel_and_articles_thereof',
       '76_aluminium_and_articles_thereof',
       '78_lead_and_articles_thereof', '79_zinc_and_articles_thereof',
       '80_tin_and_articles_thereof',
       '81_other_base_metals_cermets_articles_thereof',
       '83_miscellaneous_articles_of_base_metal',
       '86_railway_tramway_locomotives_rolling_stock_equipmen',
       '88_aircraft_spacecraft_and_parts_thereof',
       '89_ships_boats_and_other_floating_structures',
       '91_clocks_and_watches_and_parts_thereof',
       '92_musical_instruments_parts_and_accessories',
       '93_arms_and_ammunition_parts_and_accessories_thereof',
       '95_toys_games_sports_requisites',
       '97_works_of_art_collectors_pieces_and_antiques',
       '99_commodities_not_specified_according_to_kind'], dtype=object)

In [ ]:
df_metals